#home {
  z-index: 1;
  position: absolute;
  top:5%;
  left:20%;
  right:20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  div{
    color: #ffffff;
  }
  a{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
  #tab {
    position: fixed; // 关键
    height: 500px;
    top: 100px;
    left: 0;
    bottom: 50px;
  }
  #step {
    position: fixed; // 关键
    height: 500px;
    top: 100px;
    right: 50px;
    bottom: 50px;
  }
}